<!DOCTYPE html>
<html ng-app="hubSearch">
  <head>
    <title>HubSearch</title>
    <!--<script src="ui/vendor/live/live.js"></script>-->
    <link rel="stylesheet" href="ui/_dist/app.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24017782-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <a href="https://github.com/jgallen23/hubsearch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">HubSearch</a>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-controller="HubSearchController">
      <div class="row-fluid">
        <form class="well form-search" ng-submit="onSubmit()">
          <div class="span4">
            <input ng-model="query" type="text" name="q" placeholder="Search for repo..." autofocus="autofocus">
          </div>
          <div class="span4">
            <input type="text" name="lang" data-provide="typeahead" placeholder="Language...">
          </div>
          <div class="span4">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      <div class="row-fluid">
        <div class="results">
          <div class="loading" ng-show="searching">Searching Github...</div>
          <table class="table table-striped" ng-show="repos">
            <thead>
              <tr>
                <th>Repo</th>
                <th data-sort="commit">Last Commit</th>
                <th data-sort="stargazers">Stars</th>
                <th data-sort="forks">Forks</th>
                <th data-sort="scoreValue">Score</th>
                <th data-sort="githubRank">Github Rank</th>
                <th>Author</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="repo in repos">
                <td class="name">
                  <a href="https://github.com/{{repo.username}}/{{repo.name}}">{{repo.name}}</a>
                  <p>{{repo.description}}</p>
                </td>
                <td data-timestamp="{{repo.pushed_at}}"></td>
                <td>{{repo.watchers}}</td>
                <td>{{repo.forks}}</td>
                <td>{{repo.score.value}}</td>
                <td>{{repo.score.githubRank}}</td>
                <td>
                  <a href="http://github.com/{{repo.username}}">{{repo.username}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <ul>
        <li>Built With:</li>
        <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
        <li><a href="http://jquery.com">jQuery</a></li>
        <li><a href="http://underscorejs.org/">Underscore</a></li>
        <li><a href="https://github.com/jgallen23/fidel/tree/v2">Fidel</a></li>
        <li><a href="https://github.com/jgallen23/routie">Routie</a></li>
        <li><a href="https://github.com/jgallen23/markx">Markx</a></li>
        <li><a href="https://github.com/jgallen23/masher">Masher</a></li>
        <li><a href="https://github.com/jgallen23/boots">Boots</a></li>
      </ul>
      <p>
        Built by: <a href="http://github.com/jgallen23">Greg Allen</a> (<a href="http://twitter.com/jgaui">@jgaui</a>)
      </p>
    </div>
    <script type="text/html" id="tpl-results">
      {{ _.each(results, function(result) { }}
      {{ }); }} 
    </script>
    <script>
      var languages = ["ActionScript","Ada","Apex","Arc","Arduino","ASP","Assembly","Augeas","AutoHotkey","Boo","Bro","C","C#","C++","Ceylon","Clojure","CoffeeScript","ColdFusion","Common Lisp","Coq","D","Dart","DCPU-16 ASM","Delphi","Dylan","eC","Eiffel","Elixir","Emacs Lisp","Erlang","F#","Factor","Fancy","Fantom","FORTRAN","Go","Gosu","Groovy","Haskell","HaXe","Io","Ioke","Java","JavaScript","Julia","Kotlin","Logtalk","Lua","Matlab","Max/MSP","Mirah","Nemerle","Nimrod","Nu","Objective-C","Objective-J","OCaml","ooc","Opa","OpenEdge ABL","Parrot","Perl","PHP","PowerShell","Prolog","Puppet","Pure Data","Python","R","Racket","Rebol","Ruby","Rust","Scala","Scheme","Scilab","Self","Shell","Smalltalk","Standard ML","SuperCollider","Tcl","Turing","Vala","Verilog","VHDL","VimL","Visual Basic","XQuery"];
    </script>
    <script src="_dist/app.js"></script>
  </body>
</html>
