<!DOCTYPE html>
<html ng-app="hubSearch">
  <head>
    <title>HubSearch</title>
    <link rel="stylesheet" href="_dist/app.css"/>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24017782-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <script>
      var _languages = <%- JSON.stringify(languages) %>;
    </script>
    <script src="_dist/app.js"></script>
  </head>
  <body ng-controller="HubSearchController">
    <a href="https://github.com/jgallen23/hubsearch"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a href="#" class="brand">HubSearch</a>
        </div>
      </div>
    </div>
    <div class="container-fluid" ng-controller="SearchBoxController">
      <div class="row-fluid">
        <form class="well form-search" ng-submit="onSubmit()">
          <div class="span4">
            <input ng-model="inputQuery" type="text" placeholder="Search for repo..." autofocus="autofocus">
          </div>
          <div class="span4">
            <select ng-model="inputLanguage" ui-select2 style="width: 100%">
              <option ng-repeat="lang in languages" value="{{lang}}">{{lang}}</option>
            </select>
          </div>
          <div class="span4">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </div>
      <div class="row-fluid">
        <div ng-view></div>
      </div>
    </div>
    <script id="searchResults.html" type="text/ng-template">
      <div class="results">
        <div class="loading" ng-show="searching">Searching Github...</div>
        <table class="table table-striped" ng-show="repos">
          <thead>
            <tr>
              <th ng-click="sortKey='name'">Repo</th>
              <th ng-click="sortKey='-pushed_at'">Last Commit</th>
              <th ng-click="sortKey='-watchers'">Stars</th>
              <th ng-click="sortKey='-forks'">Forks</th>
              <th ng-click="sortKey='-score'">Score</th>
              <th ng-click="sortKey='githubRank'">Github Rank</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="repo in repos | orderBy:sortKey">
              <td class="name">
                <a href="https://github.com/{{repo.username}}/{{repo.name}}">{{repo.name}}</a>
                <p>{{repo.description}}</p>
              </td>
              <td>{{repo.pushed_at|relativeDate}}</td>
              <td>{{repo.watchers}}</td>
              <td>{{repo.forks}}</td>
              <td>{{repo.score}}</td>
              <td>{{repo.githubRank}}</td>
              <td>
                <a href="http://github.com/{{repo.username}}">{{repo.username}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>
    <div class="footer">
      <ul>
        <li>Built With:</li>
        <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
        <li><a href="http://jquery.com">jQuery</a></li>
        <li><a href="http://underscorejs.org/">Underscore</a></li>
        <li><a href="https://github.com/jgallen23/fidel/tree/v2">Fidel</a></li>
        <li><a href="https://github.com/jgallen23/routie">Routie</a></li>
        <li><a href="https://github.com/jgallen23/markx">Markx</a></li>
        <li><a href="https://github.com/jgallen23/masher">Masher</a></li>
        <li><a href="https://github.com/jgallen23/boots">Boots</a></li>
      </ul>
      <p>
        Built by: <a href="http://github.com/jgallen23">Greg Allen</a> (<a href="http://twitter.com/jgaui">@jgaui</a>)
      </p>
    </div>
  </body>
</html>
