.results table .selected {
  text-decoration: underline;
}
.results table [data-sort] {
  cursor: pointer;
}
.results .name {
  width: 40%;
}
.results .name p {
  font-size: 11px;
  color: #9C9C9C;
  margin: 2px 0;
}
