.table th[ng-click] {
  cursor: pointer;
}
.navbar-inner {
  border-radius: 0 0 4px 4px;
}
.results {
  min-height: 500px;
}

.results table .selected {
  text-decoration: underline;
}

.results [data-sort]:hover {
  text-decoration: underline;
}

.results table [data-sort] {
  cursor: pointer;
}

.results .name {
  width: 40%;
}

.results .name p {
  font-size: 11px;
  color: #9C9C9C;
  margin: 2px 0;
}

.form-search .span4 input {
  width: 100%;
}

.loading {
  background: url(../ui/images/loader.gif) no-repeat;
  padding-left: 20px;
  line-height: 20px;
  margin: 10px 0; 
}

/*** FOOTER ***/
.footer {
  border-top: 1px solid #eee;
  padding: 10px;
  font-size: 12px;
}

.footer p {
  margin: 0;
}

.footer ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
}

